[submodule "lib/samp-plugin-sdk"]
	path = lib/samp-plugin-sdk
	url = https://github.com/maddinat0r/samp-plugin-sdk
[submodule "lib/cmake-modules"]
	path = lib/cmake-modules
	url = https://github.com/Zeex/cmake-modules
[submodule "lib/BasicBitmap"]
	path = lib/BasicBitmap
	url = https://github.com/skywind3000/BasicBitmap.git
